<template>
    <section class="sq-main-sidebar-menu">
        <div class="wone-menu-wrap">
            <!-- left menu top -->
            <div class="wone-people-info-wrap flush-box">
                <div class="in-logo"><img src="assets/images/logo/wone_3_logo_gradient.png" alt="logo" /></div>
                <div class="in-info">
                    안녕하세요!<br />
                    <strong><span>{{ name }}</span>님</strong>
                </div>
            </div>

            <!-- left menu bottom (real menu) -->
            <div class="wone-menu-box">
                <ul class="wone-menu-group">
                    <li class="depth1">
                        <div class="depth1-info"><i class="el-icon-s-home"></i> HOME</div>
                        <div class="depth2-info">
                            <ul class="depth2-group">
                                <li class="active"><i class="el-icon-data-analysis"></i> DASHBOARD</li>
                                <img src="assets/images/menu-hover/admin_menu_hover_bg_img.png" alt="" class="menu-hover"/>
                            </ul>
                        </div>
                    </li>
                    <li class="depth1">
                        <div class="depth1-info"><i class="el-icon-edit-outline"></i> 서비스 관리</div>
                        <div class="depth2-info">
                            <ul class="depth2-group">
                                <li class="active"><i class="el-icon-s-tools"></i> 서비스 설정</li>
                                <li class="active"><i class="el-icon-user-solid"></i> 사용자 리스트</li>
                            </ul>
                        </div>
                    </li>
                    <li class="depth1">
                        <div class="depth1-info"><i class="el-icon-warning"></i> 게시판</div>
                        <div class="depth2-info">
                            <ul class="depth3-group">
                                <li class="active"><i class="el-icon-s-comment"></i> 문의사항</li>
                                <li class="active"><i class="el-icon-document"></i> 공지사항</li>
                                <li class="active"><i class="el-icon-s-opportunity"></i> 이용방법</li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="logout">로그아웃</div>
            </div>
        </div>
        <div class="item" v-for="(menuData, menuIndex) in menusList" v-bind:key="menuIndex">
            <div class="in-title">
                <i class="el-icon-folder" />{{ menuData.parentName }}
            </div>
            <ul>
                <li v-for="(menuData2, menuIndex2) in menuData.menuLabel" v-bind:key="menuIndex2" v-if="menuData2.isShow">
                    <i :class="menuData2.icon"></i>
                    <nuxt-link :to="menuData2.link">{{ menuData2.currentName }}</nuxt-link>
                </li>
            </ul>
        </div>
    </section>
</template>

<script>
export default {
    data() {
        return {
        }
    },
    computed: {
        menusList() {
            return this.$store.getters[this.$menuConstants.GET_MENUS_LIST]
        },
        name() {
            return this.$store.getters[this.$authenticatedConstants.GET_NAME]
        },
    }
}
</script>
