/* 대시보드 */
section.dashboard-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1000px;

    div.dashboard-content-out-box { /* 대시보드 컨텐츠 겉 회색 박스 */
        margin-top: 10px;
        margin-right: 10px;
        padding: 12px;
        width: 490px;
        background-color: $color-primary;
        border-radius: $numbers-out-box;

        p.content-title { /* 대시보드 컨텐츠 타이틀 텍스트, flex */
            padding: 10px 15px 5px 15px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            letter-spacing: -$numbers-text-title-letter-spacing;
            font-size: $numbers-text-title-size;
            font-weight: $numbers-text-weight;
            color: $color-title-text;

            i.total-member-count { /* 총 가입자 수 */
                font-size: $numbers-text-title-size;
                font-weight: $numbers-text-weight;
                color: $color-point;
            }

            i.people-unit { /* 명 */
                font-size: $numbers-text-title-size;
                font-weight: $numbers-text-weight;
                color: $color-title-text;
            }
        }

        i.dashboard-content-inner-box {  /* 대시보드 컨텐츠 안 흰색 박스 */
            display: flex;
            flex-flow: column wrap;
            margin-top: 12px;
            padding: 20px 20px 3px 20px;
            width: 450px;
            background-color: $color-secondary;
            border-radius: $numbers-inner-box;

            .temporary-total-user { /* 총 가입자 수 임시 땜빵 이미지 */
                width: 450px;
                margin-bottom: 10px;
            }

            p.dashboard-notice-title { /* 공지사항, 문의사항, 제목 */
                font-size: $numbers-text-content-size;
                margin-bottom: 5px;
            }

            p.dashboard-notice-date { /* 공지사항, 문의사항, 날짜 텍스트 */
                font-size: $numbers-text-content-size;
                text-align: end;
                color: $color-text-cloudy;
            }

            p.user-list-id { /* 사용자 리스트 아이디 텍스트  */
                font-size: $numbers-text-content-size;
                text-align: center;
                margin-bottom: 12.8px;
            }

            p.user-list-type { /* 사용자 리스트 회원상태 */
                font-size: $numbers-text-content-size;
                text-align: end;
                color: $color-text-cloudy;
            }
        }
    }

    p.content-title-plus { /* 추가(+) 박스 */
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: $numbers-text-weight;
        color: $color-title-text;
        border-radius: $numbers-out-box;
    }
}

/* 관리자 정보 - 관리자 정보 설정 */
section.admin-info-out-box { /* 관리자 정보 설정 겉 회색 박스 */
    margin-top: 10px;
    padding: 12px;
    width: 1080px;
    background-color: $color-primary;
    border-radius: $numbers-out-box;

    div.admin-info-title { /* 관리자 정보 설정 텍스트 */
        padding: 10px 15px 5px 15px;
        font-size: $numbers-text-title-size;
        font-weight: $numbers-text-weight;
        letter-spacing: -$numbers-text-title-letter-spacing;
        color: $color-title-text;
    }

    i.admin-info-inner-box { /* 관리자 정보 설정 안 흰색 박스 */
        display: flex;
        flex-flow: column;
        margin-top: 12px;
        padding: 10px;
        width: 1060px;
        background-color: $color-secondary;
        border-radius: $numbers-inner-box;

        div.admin-info-box { /* 관리자 정보 인풋 박스 */
            margin-bottom: 10px;
            width: 1060px;
            font-size: $numbers-text-content-size;
            font-weight: $numbers-text-weight;

            i.name { /* 이름 설정 텍스트 좌우마진 */
                margin: 0 12px 0 12px;
            }

            i.admin-id { /* 아이디 설정 텍스트 좌우마진 */
                margin: 0 6px 0 6px;
            }

            i.admin-email { /* 이메일 설정 텍스트 좌우마진 */
                margin: 0 6px 0 6px;
            }
        }

        div.admin-info-button { /* 관리자 정보 버튼 flex */
            display: flex;
            justify-content: end;

            .update-button { /* 수정 버튼색 */
                background-color: $color-primary;
                border: none;
            }

            i.update-button-text { /* 수정 버튼 텍스트 */
                margin: 0 10px 0 10px;
                font-size: $numbers-text-content-size;
                font-weight: $numbers-text-weight;
                color: $color-title-text;
            }

            .ok-button { /* 확인 버튼색 */
                background-color: $color-point;
                border: none;
            }

            i.update-ok-text { /* 확인 버튼 텍스트 */
                margin: 0 10px 0 10px;
                font-size: $numbers-text-content-size;
                font-weight: $numbers-text-weight;
                color: $color-secondary;
            }
        }
    }
}

/* 관리자 정보 - 푸터 정보 설정 */
section.footer-info-out-box { /* 푸터 정보 설정 겉 회색 박스 */
    margin-top: 10px;
    padding: 12px;
    width: 1080px;
    background-color: $color-primary;
    border-radius: $numbers-out-box;

    div.footer-info-title { /* 푸터 정보 설정 텍스트 */
        padding: 10px 15px 5px 15px;
        font-size: $numbers-text-title-size;
        font-weight: $numbers-text-weight;
        letter-spacing: $numbers-text-title-letter-spacing;
        color: $color-title-text;
    }

    i.footer-inner-box { /* 푸터 정보 설정 안 흰색 박스 */
        display: flex;
        flex-flow: column;
        margin-top: 12px;
        padding: 10px;
        width: 1060px;
        background-color: $color-secondary;
        border-right: $numbers-inner-box;

        div.footer-info-box { /* 푸터 정보 설정 인풋 박스 */
            margin-bottom: 10px;
            width: 1060px;
            font-size: $numbers-text-content-size;
            font-weight: $numbers-text-weight;

            i.company-name { /* 회사명 설정 텍스트 마진 */
                margin: 0 21px 0 21px;
            }

            i.ceo-name { /* 대표자 이름 설정 텍스트 마진 */
                margin: 0 6px 0 6px;
            }

            i.call-number { /* 전화번호 설정 텍스트 마진 */
                margin: 0 15px 0 14px;
            }

            i.address { /* 주소 설정 텍스트 마진 */
                margin: 0 27px 0 27px;
            }

            i.business-number { /* 사업자 번호 설정 텍스트 마진 */
                margin: 0 6px 0 6px;
            }

            i.copyright { /* 카피라이트 설정 텍스트 마진 */
                margin: 0 6px 0 6px;
            }
        }

        div.footer-info-button { /* 푸터 정보 버튼 flex */
            display: flex;
            justify-content: end;

            .update-button { /* 수정 버튼색 */
                background-color: $color-primary;
                border: none;
            }

            i.update-button-text { /* 수정 버튼 텍스트 */
                margin: 0 10px 0 10px;
                font-size: $numbers-text-content-size;
                font-weight: $numbers-text-weight;
                color: $color-title-text;
            }

            .ok-button { /* 확인 버튼색 */
                background-color: $color-point;
                border: none;
            }

            i.update-ok-text { /* 확인 버튼 텍스트 */
                margin: 0 10px 0 10px;
                font-size: $numbers-text-content-size;
                font-weight: $numbers-text-weight;
                color: $color-secondary;
            }
        }
    }
}

/* 서비스관리 - 카테고리 */
section.category-out-box {
    margin-top: 10px;
    padding: 12px;
    width: 1080px;
    background-color: $color-primary;
    border-radius: $numbers-out-box;

    div.category-title { /* 카테고리 텍스트, 서치바 flex */
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        p.category { /* 카테고리 텍스트 */
            padding: 10px 0 5px 15px;
            font-size: $numbers-text-title-size;
            font-weight: $numbers-text-weight;
            letter-spacing: $numbers-text-title-letter-spacing;
            color:$color-title-text;
        }

        .category-search-bar { /* 서치바 */
            font-size: $numbers-search-bar-icon-size;
            width: 540px;
        }
    }

    div.category-inner-box { /* 카테고리 안 흰색 박스 */
        display: flex;
        flex-flow: column;
        margin-top: 12px;
        padding: 0 15px 15px 15px;
        width: 1050px;
        background-color: $color-secondary;
        border-radius: $numbers-inner-box;

        div.dashboard-category-item { /* 카테고리 항목별 */
            display: flex;
            flex-direction: row;
            margin: 15px 10px 0 0;
            width: 1050px;

            i.category-icon-box { /* 아이콘 들어가는 박스 */
                display: flex;
                justify-content: center;
                align-items: center;
                width: 70px;
                height: 70px;
                background-color: $color-secondary;
                border: 1px solid #e1e1e1;
                border-radius: $numbers-inner-box;
                font-size: 20px; // no. 12 플러스
                font-weight: $numbers-text-weight;
            }

            div.input-box { /* 넘버링, 인풋 감싸는 박스(인풋박스 사이즈 여기서 결정) */
                display: flex;
                flex-direction: column;
                justify-content: start;
                width: 440px;

                p.category-number { /* 카테고리 넘버링 */
                    padding: 10px 0 10px 10px;
                    font-size: $numbers-text-title-size;
                    font-weight: $numbers-text-weight;
                    letter-spacing: $numbers-text-title-letter-spacing;
                    color: $color-point;
                }

               i.category-input-box { /* 인풋박스 마진 */
                   margin: 2px 0 0 10px;
               }
            }
        }
    }
}

/* 서비스 관리 - 알림 메세지 (기능 안됨, 깡통) */
section.message-out-box { /* 알림 메세지 겉 회색 박스 */
    margin-top: 10px;
    padding: 12px;
    width: 1080px;
    background-color: $color-primary;
    border-radius: $numbers-out-box;

    div.message-title { /* 텍스트, 서치바 flex */
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        p.message { /* 알림 메세지 텍스트 */
            padding: 10px 10px 5px 15px;
            font-size: $numbers-text-title-size;
            font-weight: $numbers-text-weight;
            letter-spacing: $numbers-text-title-letter-spacing;
            color: $color-title-text;
        }

        .message-search-bar { /*서치바 */
            font-size: $numbers-search-bar-icon-size;
            width: 540px;
        }
    }

    div.message-inner-box { /* 알림 메세지 안 흰색 박스 */
        display: flex;
        flex-flow: column;
        margin-top: 12px;
        padding: 15px 15px 0 15px;
        width: 1050px;
        background-color: $color-secondary;
        border-radius: $numbers-inner-box;

        div.message-box { /* 메세지 분류 박스 */
            margin-bottom: 15px;
            display: flex;
            flex-direction: row;

            div.message-group-box { /* 메세지 분류 박스 왼쪽 */
                display: flex;
                justify-content: center;
                align-items: center;
                width: 150px;
                background-color: $color-primary;
                border-radius: 8px 0 0 8px;
                font-size: $numbers-text-content-md-size;
                font-weight: $numbers-text-weight;
                color: $color-point;
            }

            div.message-detail { /* 메세지 분류 박스 오른쪽 */
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                width: 900px;
                padding: 25px 0 25px 0;
                background-color: $color-secondary;
                border: 1px solid #ededed;
                border-radius: 0 8px 8px 0;

                p.message-main-text { /* 메인 텍스트 */
                    width: 850px;
                }

                p.message-sub-text { /* 서브 텍스트 */
                    margin-top: 10px;
                    width: 850px;
                }
            }

            div.message-group-box-plus { /* 메세지 분류 + 박스 왼쪽 */
                display: flex;
                justify-content: center;
                align-items: center;
                width: 150px;
                background-color: $color-primary;
                color:$color-point;
                font-weight: $numbers-text-weight;
                border-radius: 8px 0 0 8px;
            }

            div.message-detail-plus { /* 메세지 분류 + 박스 오른쪽 */
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                width: 900px;
                padding: 10px 0 10px 0;
                background-color: $color-secondary;
                border: 1px solid #ededed;
                border-radius: 0 8px 8px 0;
            }
        }
    }
}
div.service-setting-button { /* 수정, 확인버튼 flex */
    margin: 30px 0 50px 0;
    display: flex;
    justify-content: center;

    .service-setting-update-button { /* 수정 버튼색 */
        background-color: $color-primary;
        border: none;

        i.service-setting-update-button-text { /* 수정 버튼 텍스트 */
            margin: 0 10px 0 10px;
            font-size: $numbers-text-content-size;
            font-weight: $numbers-text-weight;
            color: $color-title-text;
        }
    }

    .service-setting-ok-button { /* 삭제 버튼색 */
        background-color: $color-point;
        border: none;

        i.service-setting-update-ok-text { /* 삭제 버튼 텍스트 */
            margin: 0 10px 0 10px;
            font-size: $numbers-text-content-size;
            font-weight: $numbers-text-weight;
            color: $color-secondary;
        }
    }
}


/* 사용자 리스트 */
section.service-user-list-out-box { /* 사용자 리스트 겉 회색 박스 */
    margin-top: 10px;
    padding: 12px;
    width: 1080px;
    background-color: $color-primary;
    border-radius: $numbers-out-box;

    div.service-user-list-title { /* 텍스트, 서치바 flex */
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        p.service-user-list { /* 사용자 리스트 텍스트 */
            padding: 10px 0 5px 15px;
            font-size: $numbers-text-title-size;
            font-weight: $numbers-text-weight;
            letter-spacing: $numbers-text-title-letter-spacing;
            color: $color-title-text;
        }

        .user-list-search-bar { /* 서치바 */
            font-size: $numbers-search-bar-icon-size;
            width: 540px;
        }
    }

    div.service-user-list-inner-box { /* 사용자 리스트 안 흰 박스 */
        display: flex;
        flex-flow: column;
        margin-top: 12px;
        padding:15px;
        width: 1050px;
        background-color: $color-secondary;
        border-radius: $numbers-inner-box;

        div.user-list-table { /* 사용자 리스트 표 (엘리멘트라 스타일 안먹음) */
            display: flex;
            justify-content: center;
            width: 1050px;
        }

        div.pagination { /* 페이지 넘기기 */
            margin-top: 15px;
        }
    }
}

/* 서비스 관리 - 사용자 리스트 - 상세보기 */
section.service-user-list-out-box { /* 회원 상세보기 겉 회색 박스 */
    margin-top: 10px;
    padding: 12px;
    width: 1080px;
    background-color: $color-primary;
    border-radius: $numbers-out-box;

    div.service-user-list-title { /* 텍스트, 서치바 flex */
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        p.service-user-list { /* 사용자 리스트 텍스트 */
            padding: 10px 0 5px 15px;
            font-size: $numbers-text-title-size;
            font-weight: $numbers-text-weight;
            letter-spacing: $numbers-text-title-letter-spacing;
            color: $color-title-text;
        }

        .user-list-search-bar { /* 서치바 */
            font-size: $numbers-search-bar-icon-size;
            width: 540px;
        }
    }

    div.service-user-list-inner-box { /* 사용자 리스트 안 흰 박스 */
        display: flex;
        flex-flow: column;
        margin-top: 12px;
        padding: 15px;
        width: 1050px;
        background-color: $color-secondary;
        border-radius: $numbers-inner-box;

        div.user-icon { /* 회원 아이콘 */
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            background-color: $color-primary;
            border-radius: 30px;
            color: $color-secondary;
            font-size: 30px;
            margin: 10px 0 10px 0;
        }

        div.grid-content { /* 엘리먼트 UI 그리드 */
            display: flex;
            flex-direction: row;
            margin: 20px 0 10px 0;

            p.bold-text { /* 굵은 텍스트 */
                margin-left: 5px;
                font-size: $numbers-text-content-md-size;
                font-weight: $numbers-text-weight;
                color: $color-title-text;
            }

            i.light-text { /* 얇은 텍스트 */
                margin-left: 10px;
                font-size: $numbers-text-content-md-size;
            }
        }

        div.line { /* 구분선 */
            margin-top: 10px;
            width: 1050px;
            height: 1px;
            background-color: $color-primary;
        }
    }
}
div.user-info-detail-button { /* 버튼 마진, flex */
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .user-info-detail-ok-button { /* 버튼색, 크기 */
        background-color: $color-point;
        border: none;
        width: 100px;

        i.user-info-detail-ok-text { /* 버튼 텍스트 색 */
            font-size: $numbers-text-content-size;
            font-weight: $numbers-text-weight;
            color: $color-secondary;
        }
    }
}

/* 게시판 - 문의사항 */
section.board-out-box { /* 보드 겉 흰색 박스 */
    margin-top: 10px;
    padding: 12px;
    width: 1080px;
    background-color: $color-primary;
    border-radius: $numbers-out-box;

    div.board-title { /* 보드 타이틀, 서치바 flex */
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        p.board-title-text { /* 보드 타이틀 텍스트 */
            padding: 10px 0 5px 15px;
            font-size: $numbers-text-title-size;
            font-weight: $numbers-text-weight;
            letter-spacing: $numbers-text-title-letter-spacing;
            color: $color-title-text;
        }

        .board-search-bar { /* 보드 서치바 */
            font-size: $numbers-search-bar-icon-size;
            width: 540px;
        }
    }

    div.board-inner-box { /* 보드 안 흰색 박스 */
        display: flex;
        flex-flow: column;
        margin-top: 12px;
        padding:15px;
        width: 1050px;
        background-color: $color-secondary;
        border-radius: $numbers-inner-box;

        div.pagination { /* 페이지 넘기기 */
            margin-top: 15px;
            width: 1050px;
            display: flex;
            flex-direction: row;
            justify-content: end;

            .page-number {
                margin-right: 300px;
            }

            .board-update-button { /* 수정 버튼색 */
                background-color: $color-primary;
                border: none;

                i.board-update-button-text { /* 수정 버튼 텍스트 */
                    margin: 0 10px 0 10px;
                    font-size: $numbers-text-content-size;
                    font-weight: $numbers-text-weight;
                    color: $color-title-text;
                }
            }

            .board-ok-button { /* 확인 버튼색 */
                background-color: $color-point;
                border: none;

                i.board-ok-text { /* 확인 버튼 텍스트 */
                    margin: 0 10px 0 10px;
                    font-size: $numbers-text-content-size;
                    font-weight: $numbers-text-weight;
                    color: $color-secondary;
                }
            }
        }
    }
}

/* 게시판 - 공지사항, 이용방법 */
div.pagination { /* 페이지 넘기기 */
    margin-top: 15px;
    width: 1050px;
    display: flex;
    flex-direction: row;
    justify-content: end;

    .notice-page-number {
        margin-right:226px;
    }
}

/* 게시판 - 문의사항 - 답변 */
section.ask-contents { /* 고객 문의사항 컨텐츠 */
    width: 1050px;

    div.board-ask-title { /* 문의사항 타이틀 */
        margin: 15px 0 15px 0;
        font-size: $numbers-text-content-md-size;
        font-weight: $numbers-text-weight;
        letter-spacing: $numbers-text-title-letter-spacing;
        color: $color-title-text;
    }

    div.ask-line { /* 타이틀, 컨텐츠 구분선 */
        margin-bottom: 15px;
        width: 1050px;
        height: 1px;
        background-color: #dfdfdf;
    }

    p.ask-user { /* 글쓴이명 */
        margin-left: 16px;
        font-size: $numbers-text-content-size;
    }

    p.ask-time { /* 문의사항 등록 시간 */
        text-align: end;
        margin-right: 16px;
        font-size: $numbers-text-content-size;
        color: $color-text-cloudy;
    }

    .ask-input-box { /* 문의사항 내용 박스 */
        margin-top: 15px;
    }
}
section.answer-contents { /* 답변 컨텐츠 */
    margin-top: 80px;
    width: 1050px;

    div.board-answer-title { /* 답변 타이틀 */
        font-size: $numbers-text-content-md-size;
        font-weight: $numbers-text-weight;
        letter-spacing: $numbers-text-title-letter-spacing;
        color: $color-title-text;
    }

    .answer-input-box { /* 답변 인풋 박스 */
        margin-top: 15px;
    }

    div.answer-button { /* 답변 버튼 */
        margin-top: 15px;
        display: flex;
        justify-content: end;

        .answer-update-button { /* 수정 버튼색 */
            background-color: $color-primary;
            border: none;

            i.answer-update-button-text { /* 수정 텍스트 */
                margin: 0 10px 0 10px;
                font-size: $numbers-text-content-size;
                font-weight: $numbers-text-weight;
                color: $color-title-text;
            }
        }

        .answer-register-button { /* 등록 버튼색 */
            background-color: $color-point;
            border: none;

            i.answer-register-text { /* 등록 텍스트 */
                margin: 0 10px 0 10px;
                font-size: $numbers-text-content-size;
                font-weight: $numbers-text-weight;
                color: $color-secondary;
            }
        }
    }
}

/* 게시판 - 이용방법, 공지사항 - 등록 */
section.board-contents-register { /* 이용방법, 공지사항 등록 컨텐츠 */
    margin-top: 15px;
    width: 1050px;

    div.board-contents-register-title { /* 이용방법, 공지사항 등록 타이틀 */
        margin: 15px 0 15px 0;
        font-size: $numbers-text-content-md-size;
        font-weight: $numbers-text-weight;
        letter-spacing: $numbers-text-title-letter-spacing;
        color: $color-title-text;
    }

    div.board-contents-register-button { /* 이용방법, 공지사항 버튼 */
        margin-top: 15px;
        display: flex;
        justify-content: end;

        .board-contents-register-update-button {
            background-color: $color-primary;
            border: none;
        }

        i.board-contents-register-update-button-text {
            margin: 0 10px 0 10px;
            font-size: $numbers-text-content-size;
            font-weight: $numbers-text-weight;
            color: $color-title-text;
        }

        .board-contents-register-button {
            background-color: $color-point;
            border: none;
        }

        i.board-contents-register-text {
            margin: 0 10px 0 10px;
            font-size: $numbers-text-content-size;
            font-weight: $numbers-text-weight;
            color: $color-secondary;
        }
    }
}
