<template>
    <div class="wone-main-container">
        <section class="board-out-box">
            <div class="board-title">
                <p class="board-title-text">문의사항</p>
                <el-input class="board-search-bar"
                          placeholder=""
                          prefix-icon="el-icon-search"
                          v-model="input2">
                </el-input>
            </div>
            <div class="board-inner-box">
                <div class="board-ask-table">
                    <el-table
                        ref="multipleTable"
                        :data="tableData"
                        style="width: 100%"
                        @selection-change="handleSelectionChange">
                        <el-table-column
                            type="selection"
                            width="55">
                        </el-table-column>
                        <el-table-column
                            property="no"
                            label="No."
                            width="60">
                        </el-table-column>
                        <el-table-column
                            property="createDate"
                            label="등록일자"
                            width="120">
                        </el-table-column>
                        <el-table-column
                            property="name"
                            label="사용자명"
                            width="100">
                        </el-table-column>
                        <el-table-column
                            property="isPublic"
                            label="공개여부"
                            width="100">
                        </el-table-column>
                        <el-table-column
                            property="askContents"
                            label="문의내용"
                            width="360">
                        </el-table-column>
                        <el-table-column
                            property="answerContents"
                            label="문의답변">
                        </el-table-column>
                    </el-table>
                </div>
                <div class="pagination">
                    <el-pagination class="page-number"
                        small
                        layout="prev, pager, next"
                        :total="50">
                    </el-pagination>
                    <div class="board-button">
                        <el-button class="board-update-button"><i class="board-update-button-text">수정</i></el-button>
                        <el-button class="board-ok-button"><i class="board-ok-text">삭제</i></el-button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>


<script>
export default {
    data() {
        return {
            tableData: [{
                no: 1,
                createDate: '2024-01-05',
                name: '홍길동',
                isPublic: 'N',
                askContents: '카드 설정 후 메인 카드 변경이 안되네요 확인해주세요',
                answerContents: '-'
            },
                {
                    no: 2,
                    createDate: '2024-01-06',
                    name: '김철수',
                    isPublic: 'Y',
                    askContents: '카테고리 아이콘 변경은 불가능 한지 문의드립니다~~',
                    answerContents: '-'
                },
                {
                    no: 3,
                    createDate: '2024-01-06',
                    name: '박영희',
                    isPublic: 'N',
                    askContents: '챌린지 내역을 친구에게 공유하고 싶은데 가능한가요?',
                    answerContents: '-'
                },
                {
                    no: 4,
                    createDate: '2024-01-08',
                    name: '이나리',
                    isPublic: 'N',
                    askContents: '소셜 계정으로는 로그인이 불가능한가요?',
                    answerContents: '-'
                },
                {
                    no: 5,
                    createDate: '2024-01-11',
                    name: '김수빈',
                    isPublic: 'N',
                    askContents: '카테고리 아이콘 직접 추가가 가능할까요~?',
                    answerContents: '-'
                },
            ]
        }
    },

    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'BOARD')
    }
}
// export const tableData = (str, length = 10) => {
//     let result = '';
//     if (str.length > length) {
//         result = str.substr(0, length - 2) + '...';
//     } else {
//         result = str;
//     }
//     return result;
// };
//
// tableData('카드 설정 후 메인 카드 변경이\n안되네요 확인해주세요')
</script>
