<template>
    <div class="wone-main-container">
        <section class="service-user-list-out-box">
            <div class="service-user-list-title">
                <p class="service-user-list">회원 ID : 1</p>
            </div>
            <div class="service-user-list-inner-box">
                <div class="user-icon">
                    <i class="el-icon-user-solid"></i>
                </div>
                <div class="user-info-detail">
                    <el-row>
                        <el-col :span="12"><div class="grid-content">
                            <p class="bold-text">회원 ID</p>
                            <i class="light-text">1</i>
                        </div></el-col>
                        <el-col :span="12"><div class="grid-content">
                            <p class="bold-text">가입날짜</p>
                            <i class="light-text">2024.01.04</i>
                        </div></el-col>
                    </el-row>
                    <div class="line"></div>
                    <el-row>
                        <el-col :span="12"><div class="grid-content">
                            <p class="bold-text">이름</p>
                            <i class="light-text">김철수</i>
                        </div></el-col>
                        <el-col :span="12"><div class="grid-content">
                            <p class="bold-text">생년월일</p>
                            <i class="light-text">2000.11.21</i>
                        </div></el-col>
                    </el-row>
                    <div class="line"></div>
                    <el-row>
                        <el-col :span="12"><div class="grid-content">
                            <p class="bold-text">아이디</p>
                            <i class="light-text">kcs1121</i>
                        </div></el-col>
                        <el-col :span="12"><div class="grid-content">
                            <p class="bold-text">비밀번호</p>
                            <i class="light-text">kcs1121</i>
                        </div></el-col>
                    </el-row>
                    <div class="line"></div>
                    <el-row>
                        <el-col :span="12"><div class="grid-content">
                            <p class="bold-text">역할</p>
                            <i class="light-text">사용자</i>
                        </div></el-col>
                        <el-col :span="12"><div class="grid-content">
                            <p class="bold-text">회원상태</p>
                            <i class="light-text">일반</i>
                        </div></el-col>
                    </el-row>
                </div>
            </div>
        </section>
        <div class="user-info-detail-button">
            <el-button class="user-info-detail-ok-button">
                <i class="user-info-detail-ok-text">확인</i></el-button>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {

        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'USER_LIST')
    }
}
</script>
